{{ $item := .item }}
{{ $has_attachments := partial "functions/has_attachments" $item }}
{{ $resource := partial "functions/get_hover_image.html" $item }}
{{ $anchor := $item.Params.image.focal_point | default "Center" }}

<div class="pub-list-item view-citation" style="margin-bottom: 1rem">
  <i class="far fa-file-alt pub-icon" aria-hidden="true"></i>

  <div class="md:flex">
    <div class="md:flex-shrink-0 overflow-hidden">
      {{ with $resource }}
        {{ $image := .Fill (printf "640x360 %s" $anchor) }}
        {{ if ne $image.MediaType.SubType "gif" }}{{ $image = $image.Process "webp" }}{{ end }}
      <img class="h-36 object-cover w-64 hover:scale-125 transition duration-500 cursor-pointer object-cover" loading="lazy" src="{{ $image.RelPermalink }}" height="{{ $image.Height }}" width="{{ $image.Width }}" alt="{{ $item.Title | plainify }}">
      {{end}}
    </div>
    <div class="p-4">
      <a href="{{ $item.RelPermalink }}" class="font-semibold">{{ $item.Title }}</a>
      <br>
      {{- $item.Date.Format "2006" -}}.
      {{ if $item.Params.publication_short }}
        {{- $item.Params.publication_short | markdownify -}}.
      {{ else if $item.Params.publication }}
        {{- $item.Params.publication | markdownify -}}.
      {{ end }}
      <br>
      <span class="article-metadata li-cite-author prose text-gray-500 dark:text-gray-300 text-sm">
        {{ partial "page_metadata_authors" $item }}
      </span>

      {{ if $has_attachments }}
      <div class="flex flex-wrap space-x-3">
        {{ partial "page_links" (dict "page" $item "is_list" 1) }}
      </div>
      {{ end }}
    </div>
  </div>

</div>
